In [1]:
import pandas as pd
df=pd.read_csv('purchase_data.csv')

In [26]:
df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [3]:
## Purchasing Analyzis (Gender)

In [4]:
# output=df.groupby(by='Gender').agg({'Age':'count','Price':'mean'})

In [5]:
# output.loc[:,'Price']

In [6]:
# output=df.groupby(by='Gender').agg({'Price':['count','mean','sum']})

In [8]:
#output.loc[:,('Price','sum')] ## iloc :--> all of them 

# .loc[Rows , columns]  --> [:,()]

In [9]:
## this counts the number of unique people per gender
df.groupby("Gender")["SN"].nunique()

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [10]:
#output.loc[:,('Price','sum')] / df.groupby("Gender")["SN"].nunique()

In [11]:
## Data structures with pandas: Series, DataFrame

In [12]:
## The answer is below

In [13]:
output=df.groupby(by='Gender').agg({'Price':['count','mean','sum']})
## This calculates the avg total person
output.loc[:,('Price','Avg total per person')]=output.loc[:,('Price','sum')]/df.groupby("Gender")["SN"].nunique()

In [14]:
output=output.rename(columns={'Price':'Output','count':'Purchase Count','mean':'Average Purchase Price','sum':'Total Purchase value'})

In [15]:
output

                              Output                         \
                      Purchase Count Average Purchase Price
Gender
Female                           113               3.203009
Male                             652               3.017853
Other / Non-Disclosed             15               3.346000


                      Total Purchase value Avg total per person
Gender
Female                              361.94             4.468395
Male                               1967.64             4.065372
Other / Non-Disclosed                50.19             4.562727

In [16]:
import numpy as np
output.loc[:,('Output','Average Purchase Price')]=output.loc[:,('Output','Average Purchase Price')].apply(lambda x: '$'+str(np.round(x,2)))
output.loc[:,('Output','Total Purchase value')]=output.loc[:,('Output','Total Purchase value')].apply(lambda x: '$'+str(np.round(x,2)))
output.loc[:,('Output','Avg total per person')]=output.loc[:,('Output','Avg total per person')].apply(lambda x: '$'+str(np.round(x,2)))

In [17]:
output

                              Output                         \
                      Purchase Count Average Purchase Price
Gender
Female                           113                   $3.2
Male                             652                  $3.02
Other / Non-Disclosed             15                  $3.35


                      Total Purchase value Avg total per person
Gender
Female                             $361.94                $4.47
Male                              $1967.64                $4.07
Other / Non-Disclosed               $50.19                $4.56

In [19]:
output.loc[:,('Output','Purchase Count')].apply(lambda x: np.sqrt(x))

Gender
Female                   10.630146
Male                     25.534291
Other / Non-Disclosed     3.872983
Name: (Output, Purchase Count), dtype: float64

### Age Demographics

In [20]:
bins=pd.cut(df['Age'],[0,9,14,19,24,29,34,39,100])

In [21]:
#age_demographics = df.groupby(bins)[['SN']].agg('nunique').rename(columns={'SN':'Total Count'})

In [22]:
output1=df.groupby(bins)[['SN']].agg('nunique').rename(columns={'SN':'Total Count'})
output1['Percentage of Players']=(output1['Total Count']/576*100).apply(lambda x: str(np.round(x,2))+'%')
output1.index=['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']

In [23]:
output1

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

In [33]:
output4 = df.groupby(by="Item Name").agg({"Price":["count","mean","sum"]}).sort_values(by=("Price","count"),ascending = False).head()

In [35]:
output4

                                             Price
                                             count      mean    sum
Item Name
Final Critic                                    13  4.614615  59.99
Oathbreaker, Last Hope of the Breaking Storm    12  4.230000  50.76
Persuasion                                       9  3.221111  28.99
Nirvana                                          9  4.900000  44.10
Extraction, Quickblade Of Trembling Hands        9  3.530000  31.77

In [38]:
output4.loc[:,("Price", "mean")]=output4.loc[:,("Price", "mean")].apply(lambda x: "$"+ str(np.round(x,2)))

In [39]:
output4.loc[:,("Price", "sum")]=output4.loc[:,("Price", "sum")].apply(lambda x: "$"+ str(np.round(x,2)))

In [40]:
output4

                                             Price
                                             count   mean     sum
Item Name
Final Critic                                    13  $4.61  $59.99
Oathbreaker, Last Hope of the Breaking Storm    12  $4.23  $50.76
Persuasion                                       9  $3.22  $28.99
Nirvana                                          9   $4.9   $44.1
Extraction, Quickblade Of Trembling Hands        9  $3.53  $31.77

## Most profitable item

In [41]:
output5 = df.groupby(by="Item Name").agg({"Price":["count","mean","sum"]}).sort_values(by=("Price","sum"),ascending = False).head()

In [42]:
output5.loc[:,("Price", "mean")]=output5.loc[:,("Price", "mean")].apply(lambda x: "$"+ str(np.round(x,2)))
output5.loc[:,("Price", "sum")]=output5.loc[:,("Price", "sum")].apply(lambda x: "$"+ str(np.round(x,2)))

In [43]:
output5

                                             Price
                                             count   mean     sum
Item Name
Final Critic                                    13  $4.61  $59.99
Oathbreaker, Last Hope of the Breaking Storm    12  $4.23  $50.76
Nirvana                                          9   $4.9   $44.1
Fiery Glass Crusader                             9  $4.58  $41.22
Singed Scalpel                                   8  $4.35   $34.8